/*This is how you add a comment code*/

body{
    background-image:url("img/dance.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: blue;
    text-align: center;
}

p{
    color:deeppink;
    font-family: "Times New Roman", Times, serif; /*w3schools*/
}

#secondp{
    color: blue;
}


ul{
    list-style:circle;
}

.topnav{
    background-color:#333333;
    overflow:hidden;
}

.topnav a{
    color:green;
    font-size:17px;
    padding: 14px 16px; /*generates space around the topnav...can be used for dividers as well*/
    text-decoration:none;
}

/*Change the color of links on hover*/
.topnav a:hover{
    background-color:#dddddd;
    color: black;
}

/*Add color to the active (current) link*/
.topnav a.active{
    background-color: purple;
    color: white;
}


